<form class="card" [formGroup]="form" (ngSubmit)="submit()">
  <h2>Enter admin panel</h2>
  <div class="alert alert-danger" *ngIf="authService.error$ | async as error">
    {{error}}
  </div>
  <div
    class="form-control"
    [ngStyle]="{invalid: form.get('email').touched && form.get('email').invalid}"
  >
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div
      class="validation"
      *ngIf="form.get('email').touched && form.get('email').invalid"
    >
      <small *ngIf="form.get('email').errors.required">
        Enter email...
      </small>
      <small *ngIf="form.get('email').errors.email">
        Not correct type of email...
      </small>

    </div>
  </div>

  <div
    [ngStyle]="{invalid: form.get('password').touched && form.get('password').invalid}"
    class="form-control"
  >
    <label for="password">Password:</label>
    <input type="password" id="password" formControlName="password">
    <div
      *ngIf="form.get('password').touched && form.get('password').invalid"
      class="validation"
    >
      <small *ngIf="form.get('password').errors.required">
        Enter password...
      </small>
      <small *ngIf="form.get('password').errors.minlength">
        Password should be not less then
        {{form.get('password').errors.minlength.requiredLength}} characters...
        It's only {{form.get('password').errors.minlength.actualLength}} now.
      </small>
    </div>
  </div>

  <button
    type="submit"
    class="btn btn-primary"
    [disabled]="form.invalid || submitted"
  >Enter</button>
</form>
