<div class="post">
  <div class="post-header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Author</strong>
    <small>12/09/2019</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur laboriosam mollitia qui quis repellendus unde. Fugiat laboriosam maiores nam obcaecati praesentium sint, suscipit ut veritatis? A at consequatur cum ducimus error facere facilis fugiat hic ipsam labore, molestias neque nisi officia pariatur perferendis porro quae quaerat quidem quisquam voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur laboriosam mollitia qui quis repellendus unde. Fugiat laboriosam maiores nam obcaecati praesentium sint, suscipit ut veritatis? A at consequatur cum ducimus error facere facilis fugiat hic ipsam labore, molestias neque nisi officia pariatur perferendis porro quae quaerat quidem quisquam voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur laboriosam mollitia qui quis repellendus unde. Fugiat laboriosam maiores nam obcaecati praesentium sint, suscipit ut veritatis? A at consequatur cum ducimus error facere facilis fugiat hic ipsam labore, molestias neque nisi officia pariatur perferendis porro quae quaerat quidem quisquam voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur laboriosam mollitia qui quis repellendus unde. Fugiat laboriosam maiores nam obcaecati praesentium sint, suscipit ut veritatis? A at consequatur cum ducimus error facere facilis fugiat hic ipsam labore, molestias neque nisi officia pariatur perferendis porro quae quaerat quidem quisquam voluptatibus.</p>
  </div>
</div>
